:root {
  /* Colour palette variables */
  --1: #111D13;
  --2: #415D43;
  --3: #709775;
  --4: #8FB996;
  --5: #EAE0D5;
  --1-opposite: #EEE2EC;
}
* { 
  /* outline: 1px solid red;
  outline-offset: -1px; */
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 15px; 
  font-family: 'Quicksand', sans-serif;
  background-color: #111D13;
  background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 75%, rgba(17,29,19,1) 100%);
  height:100%;
  position:relative;
}
h1 {
    padding: 0px 10px 10px 10px;
    color: #A1CCA5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
}
h2{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0px;
    color: #A1CCA5;
} 
p {
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0px;
    color: var(--5);
}

hr#mid {
  width: 75%;
  margin: 20px auto 20px auto;
}
.footer {
  margin-top: auto;
}

.box {
  background-color: #0C120C;
  opacity: 0.3;
}

p.copyright {
  font-size: 10px;
  padding: 20px 20px 0px 20px;
}


 

/* PROFILE (About) CONTAINERS */
#header {
  width: 100%;
  background-color: transparent;
  height: 30px;
}
#container-1 {
  width: 75%;
  background-color: transparent;
  margin: 20px auto;
  padding: 10px 30px
}
#profile-text {
  width: 50%;
  float: left;
  height: 300px;
  background-color: transparent;
  font-weight: 300;
}
#profile-pic {
  width: 50%;
  float: left;
  height: 300px;
  background-color: transparent;
}
img.profile {
  display: block;
  margin: auto;
  height: 100%; /* Typically 250px */
  width: auto;
  border-radius: 40px;
}
#clear {
  clear: both;
}

/* NAME & NAME-BUTTON */
.name{
  border: transparent;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  padding: 0 2px 0 2px;
  font-size: 50px;
  color: var(--5);
}
.name-button{ /* If webkit is not supported */
  font-size: 30px;
  color: var(--2);
  text-shadow:
   -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
}
@supports (-webkit-text-stroke: 1px black) {
  .name-button {
    text-shadow: none;
    -webkit-text-fill-color: var(--2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  .name-button:hover {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: none;
  }
}
.name,
.name-button{
  display: inline;
  vertical-align: -15%;
}
.name-button:hover {
  background-color: transparent;
  color: var(--5);
  color: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(31,31,31,1) 53%, rgba(78,0,74,1) 100%);
  cursor: pointer;

  text-shadow: 0px 0px 13px var(--3);
}


/* NAVIGATION BAR */
.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(31,31,31,1) 53%, rgba(78,0,74,1) 100%); */
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}
nav .logo{
  font-weight: 300;
  font-size: 30px;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: none;
  color: var(--3);
}
nav #toggle,
nav label{
  display: none;
}
.nav-btn{
  background-color: transparent;
  color: white;

}

/* CONTAINER 2 */
#container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: transparent;
}
#gallery-column a img{
  flex: 33.33%;
  float:left;
  margin: 50px;
  width: 200px;
  height: 200px;
}
#icon-row{
  margin: 20px;
  color:#0C120C
}
#icon-row:hover{
  color: var(--3);
}

/*If screen is less than 800px */
@media screen and (max-width: 800px) {

  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label{
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }

  /* PROFILE SECTION */
  #container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  #profile-text, #profile-picture
    {
        display: block; 
        float:left; 
        width: 100%;
        flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
}



